@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #1A1C21;
  background-image: url("./../public/bg3.png");
  background-size: cover;
  background-position: top;
}

*::-webkit-scrollbar {
  display: none; 
}
