@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --background: #0f0f0f;
  --foreground: #e5e5e5;
  --accent: #00ffd0;
  --border: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #e5e5e5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Space Grotesk', sans-serif;
  padding: 1rem;
}


/* ------------
   Responsive 
--------------- */

/* MOBILE: devices with max-width 768px */
@media (max-width: 768px) {
  .hero-layout .max-w-7xl {
    flex-wrap: wrap !important;
    gap: 2rem !important;
    justify-content: center !important;
  }
  .hero-left,
  .hero-right {
    width: 100% !important;
    text-align: center !important;
  }
  .hero-right {
    margin-top: 2rem !important;
  }
  
  #projects {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  #projects .grid {
    grid-template-columns: 1fr !important;
  }

  .hero-left h1 {
    font-size: 5rem !important;
    line-height: 1.1 !important;
  }

  .myemail {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin: 0 auto; 
    color: #686868;
  }

}

/* TABLET: devices from 768px up to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-layout .max-w-7xl {
    flex-wrap: wrap !important;
    gap: 2rem !important;
    justify-content: center !important;
  }
  .hero-left,
  .hero-right {
    width: 100% !important;
    text-align: center !important;
  }
  .hero-right {
    margin-top: 2rem !important;
  }
  
  #projects {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  #projects .grid {
    grid-template-columns: 1fr !important;
  }

  .hero-left h1 {
    font-size: 8rem !important;
    line-height: 1.1 !important;
  }

  .myemail {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin: 0 auto; 
  }

}

/* LAPTOP and larger: devices */
@media (min-width: 1024px) and (max-width: 1280px) {
  #projects {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
  }

  .hero-left h1 {
    font-size: clamp(11rem, 8vw, 15.5rem) !important;
    line-height: 1 !important;
  }

  .myemail {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin: 0 auto; 
  }

}
